@import "./reset";
@import "font-awesome";
@import "./*";

html{
  height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.alert{
  background-color: #38AEF0;
  height: 30px;
  width: 100%;
}

.layout-notification{
  height: 100%;
}


.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
